<div class="container"><div class="text-center"><br><br><h1>Welcome, weary traveler</h1>


<div class="alert alert-warning" *ngIf="invalidLogin">{{errorMessage}}</div>

<div>
  <form class="form">
    <div class="form-label-group mb-1"><input type="text" name="username" [(ngModel)]="username" placeholder="Username" required autofocus></div>
    <div class="form-label-group mb-2"><input type="password" name="password" [(ngModel)]="password" placeholder="Password" required></div>
<!--    <div class="mb-3" ><button (click)=handleLogin() class="btn btn-success" type="submit">Login</button>-->
    <div class="mb-3" ><button (click)=handleBasicAuthLogin() class="btn btn-success" type="submit">Login</button>
    </div>
  </form>
</div>
</div>
</div>
